<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../static/css/accueil.css">


</head>
<ul>
		<li><a href="{{ url_for('logout') }}" id="logout">Deconnexion</a></li>

	</ul>
<body>
        <h1 style="font-size: 50px">Accueil Admin</h1>
        <div class="container">

            <a class="cases" id="tableau" href="/intervention_admin"><b>Tableau des <br> interventions</b></a>
            <a class="cases" id="ticket" href="/users"><b>Les utilisateurs</b> </a>

        </div></body>


</html>